@using (Html.BeginForm("LogOff", "Login", FormMethod.Post, new { id = "logoutForm" })) {
       @Html.AntiForgeryToken()
     <a href="javascript:document.getElementById('logoutForm').submit()">sign out</a>
}