<script type="text/template" id="BB_TMP_chooseDate">
<section id="chooseDate">
    <h1>When will the project be completed?</h1>
    <input type="text" id="dateCompleted"/>yyyymmdd
    <button id="saveProject">Save</button>
</section>
</script>