/* 
 * This is intended to be deliverable styles to allow extension of these styles.
 * They are not intended to be perfect, but a starting point for future applications
 * to keep a consistennt theme
 *  */
/* Global Colors */
/* Font Sizes */
/* Font Families */
/* Standard Sizes */
/* Media Queries */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html {
  font-size: 20px;
  /* Set our base font.  Everything besides this should be responsive */
  font-family: Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif; }

body {
  background-color: white; }

.largeTitleText {
  font-size: 2.8rem;
  font-family: "proxima_novalight"; }

.smallTitleText {
  font-size: 1.8rem;
  font-family: "proxima_novalight"; }

.xLargeText {
  font-size: 1.8rem;
  font-family: "proxima_novalight"; }

.xLargeTextGrey {
  font-size: 1.8rem;
  font-family: "proxima_novalight";
  color: #e5e5e5; }

.largeText {
  font-size: 1.2rem;
  font-family: "proxima_novalight"; }

.largeTextGrey {
  font-size: 1.2rem;
  font-family: "proxima_novalight";
  color: #e5e5e5; }

.smallText {
  font-size: 1rem;
  font-family: "proxima_novalight"; }

.miniText {
  font-size: 0.9rem;
  font-family: "proxima_nova_rgregular"; }

.footnoteText {
  font-size: 0.8rem;
  font-family: "proxima_nova_rgregular"; }

.bubbleText {
  font-size: 1.2rem;
  font-family: "proxima_novasemibold"; }

a, a:visited, a:hover, a:link, a:active {
  text-decoration: none;
  color: #595959; }

li {
  list-style: none; }

input[type=text], textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  border: 1px solid #f2f2f2;
  padding: 0.7rem; }
  input[type=text]:focus, textarea:focus {
    border: 1px solid #00e1bb;
    outline: none; }

.hidden {
  display: none !important; }

div.loading_word {
  text-align: center;
  vertical-align: center;
  height: 4rem; }
  div.loading_word div {
    margin-top: 1rem; }
    div.loading_word div span {
      font-size: 2rem;
      color: #00e1bb;
      -webkit-animation-name: loading;
      -moz-animation-name: loading;
      -ms-animation-name: loading;
      -o-animation-name: loading;
      animation-name: loading;
      -webkit-animation-duration: 3.3333s;
      -moz-animation-duration: 3.3333s;
      -ms-animation-duration: 3.3333s;
      -o-animation-duration: 3.3333s;
      animation-duration: 3.3333s;
      -webkit-animation-iteration-count: infinite;
      -moz-animation-iteration-count: infinite;
      -ms-animation-iteration-count: infinite;
      -o-animation-iteration-count: infinite;
      animation-iteration-count: infinite; }
      div.loading_word div span:nth-child(1) {
        -webkit-animation-delay: 0.33333s;
        -moz-animation-delay: 0.33333s;
        -ms-animation-delay: 0.33333s;
        -o-animation-delay: 0.33333s;
        animation-delay: 0.33333s; }
      div.loading_word div span:nth-child(2) {
        -webkit-animation-delay: 0.66667s;
        -moz-animation-delay: 0.66667s;
        -ms-animation-delay: 0.66667s;
        -o-animation-delay: 0.66667s;
        animation-delay: 0.66667s; }
      div.loading_word div span:nth-child(3) {
        -webkit-animation-delay: 1s;
        -moz-animation-delay: 1s;
        -ms-animation-delay: 1s;
        -o-animation-delay: 1s;
        animation-delay: 1s; }
      div.loading_word div span:nth-child(4) {
        -webkit-animation-delay: 1.33333s;
        -moz-animation-delay: 1.33333s;
        -ms-animation-delay: 1.33333s;
        -o-animation-delay: 1.33333s;
        animation-delay: 1.33333s; }
      div.loading_word div span:nth-child(5) {
        -webkit-animation-delay: 1.66667s;
        -moz-animation-delay: 1.66667s;
        -ms-animation-delay: 1.66667s;
        -o-animation-delay: 1.66667s;
        animation-delay: 1.66667s; }
      div.loading_word div span:nth-child(6) {
        -webkit-animation-delay: 2s;
        -moz-animation-delay: 2s;
        -ms-animation-delay: 2s;
        -o-animation-delay: 2s;
        animation-delay: 2s; }
      div.loading_word div span:nth-child(7) {
        -webkit-animation-delay: 2.33333s;
        -moz-animation-delay: 2.33333s;
        -ms-animation-delay: 2.33333s;
        -o-animation-delay: 2.33333s;
        animation-delay: 2.33333s; }
      div.loading_word div span:nth-child(8) {
        -webkit-animation-delay: 2.66667s;
        -moz-animation-delay: 2.66667s;
        -ms-animation-delay: 2.66667s;
        -o-animation-delay: 2.66667s;
        animation-delay: 2.66667s; }
      div.loading_word div span:nth-child(9) {
        -webkit-animation-delay: 3s;
        -moz-animation-delay: 3s;
        -ms-animation-delay: 3s;
        -o-animation-delay: 3s;
        animation-delay: 3s; }
      div.loading_word div span:nth-child(10) {
        -webkit-animation-delay: 3.33333s;
        -moz-animation-delay: 3.33333s;
        -ms-animation-delay: 3.33333s;
        -o-animation-delay: 3.33333s;
        animation-delay: 3.33333s; }

@-webkit-keyframes loading {
  from {
    color: #00e1bb; }

  1% {
    color: black; }

  10% {
    color: black; }

  10.001% {
    color: #00e1bb; }

  to {
    color: #00e1bb; } }

@-moz-keyframes loading {
  from {
    color: #00e1bb; }

  1% {
    color: black; }

  10% {
    color: black; }

  10.001% {
    color: #00e1bb; }

  to {
    color: #00e1bb; } }

@-ms-keyframes loading {
  from {
    color: #00e1bb; }

  1% {
    color: black; }

  10% {
    color: black; }

  10.001% {
    color: #00e1bb; }

  to {
    color: #00e1bb; } }

@keyframes loading {
  from {
    color: #00e1bb; }

  1% {
    color: black; }

  10% {
    color: black; }

  10.001% {
    color: #00e1bb; }

  to {
    color: #00e1bb; } }

.circle {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%; }

.cancelBox {
  text-align: right; }
  .cancelBox .basicCancel {
    font-size: 4rem;
    padding: 3rem; }

.pirchCBoxContent {
  padding: 1rem; }

/*
 * Reusable component styles
 */
.paddingBottom22 {
  padding-bottom: 22px; }

.paddingBottom12 {
  padding-bottom: 12px; }

.colorBlack {
  color: black; }

.colorGrey {
  color: #a5a5a5; }

.tabBar {
  position: relative;
  height: 84px;
  margin-bottom: 48px; }
  .tabBar .tab {
    background-color: black;
    color: #666666;
    position: absolute;
    text-align: center;
    line-height: 84px;
    top: 0%;
    height: 100%;
    border-right: 1px solid #666666; }
  .tabBar .tab.selected {
    background-color: #00e1bb;
    color: white; }

button {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  padding: 1.2em 2rem;
  background-color: #00e1bb;
  color: white;
  font-size: 1.2rem;
  font-weight: bold;
  border: 0px;
  cursor: pointer; }

.button {
  cursor: pointer; }

.logo-l {
  display: block;
  padding-top: 3rem;
  padding-bottom: 4em; }

.titleBar {
  width: 100%;
  border-top: 0px;
  font-size: 1.0rem;
  color: white;
  text-transform: uppercase;
  background-color: black;
  text-align: center;
  height: 84px; }
  .titleBar h1 {
    display: inline;
    font-family: "proxima_nova_rgbold";
    font-size: 24px; }
  .titleBar a {
    font-size: 84px;
    float: right;
    padding: 0 2rem; }
    .titleBar a:first-child {
      float: left; }
  .titleBar.backOnly a {
    position: absolute;
    left: 0px; }
  .titleBar a, .titleBar a:visited, .titleBar a:hover, .titleBar a:link, .titleBar a:active {
    color: white; }
  .titleBar h1 {
    line-height: 84px; }
  .titleBar a, .titleBar h1 {
    position: relative; }

.titleBarGreen {
  border-top: 0px;
  font-size: 1.0rem;
  color: white;
  background-color: #00e1bb;
  text-align: center;
  height: 84px; }
  .titleBarGreen h1 {
    text-transform: uppercase;
    font-family: "proxima_nova_rgbold";
    font-size: 24px; }

.searchBarContainer {
  position: absolute;
  display: block;
  width: 100%;
  height: 108px;
  top: 84px;
  -webkit-box-shadow: 0px 3px 0.25rem rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 3px 0.25rem rgba(0, 0, 0, 0.25);
  -ms-box-shadow: 0px 3px 0.25rem rgba(0, 0, 0, 0.25);
  -o-box-shadow: 0px 3px 0.25rem rgba(0, 0, 0, 0.25);
  box-shadow: 0px 3px 0.25rem rgba(0, 0, 0, 0.25);
  z-index: 1; }
  .searchBarContainer .storeMapIcon {
    position: absolute;
    right: 44px;
    top: 30px; }

.fullBodyContainer {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  background-color: #FFFFFF; }

header.light-tab-header {
  position: relative;
  background-color: white;
  height: 84px;
  margin-bottom: 48px;
  -webkit-box-shadow: 0px 3px 0.25rem #aaaaaa;
  -moz-box-shadow: 0px 3px 0.25rem #aaaaaa;
  -ms-box-shadow: 0px 3px 0.25rem #aaaaaa;
  -o-box-shadow: 0px 3px 0.25rem #aaaaaa;
  box-shadow: 0px 3px 0.25rem #aaaaaa; }
  header.light-tab-header a {
    width: 200px;
    color: #a5a5a5;
    height: 100%;
    line-height: 84px;
    font-size: 0.9rem;
    font-weight: bold;
    text-align: center; }
  header.light-tab-header a.two-tab-right {
    float: left; }
  header.light-tab-header a.two-tab-left {
    float: right; }
  header.light-tab-header div.two-tab-right, header.light-tab-header div.two-tab-left {
    position: absolute;
    top: 0%;
    left: 50%;
    width: 50%;
    height: 100%; }
  header.light-tab-header div.two-tab-left {
    left: 0%; }
  header.light-tab-header .selected {
    color: #000; }

.tabContentContainer {
  min-height: 30px;
  margin-bottom: 40px; }

.clear {
  clear: left; }

.floatRight {
  float: right; }

.floatLeft {
  float: left; }

.floatH {
  position: relative;
  display: block;
  float: left;
  clear: none; }

.floatV {
  position: relative;
  display: block;
  float: left;
  clear: left; }

.gridContainer {
  width: 100%;
  position: absolute; }

.popupColor {
  background-color: #00e1bb; }

.search-mag-icon {
  position: relative;
  display: block;
  float: left;
  clear: none;
  background-image: url("/Images/UI/search-mag-icon.png");
  width: 26px;
  height: 26px; }

/*---------------------------------------------- Buttons, Dots and Useful Clickables ------------------------------------------------------------------ */
a.greenBlockButton {
  display: block;
  text-align: center;
  padding: 1rem 2rem;
  margin: 1rem;
  background-color: #00e1bb;
  color: white; }

a.greyBlockButton {
  display: block;
  text-align: center;
  padding: 1rem 2rem;
  margin: 1rem;
  background-color: #f2f2f2;
  color: #00e1bb; }

a.mediumGreyDot {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  background-color: #e5e5e5;
  color: white;
  display: block;
  height: 1rem;
  width: 1rem;
  text-align: center;
  line-height: .7rem;
  font-size: 2rem; }
  a.mediumGreyDot:visited, a.mediumGreyDot:hover, a.mediumGreyDot:link, a.mediumGreyDot:active {
    color: white; }

a.cancel {
  background-color: #00cdac;
  padding: .7rem 1rem; }
  a.cancel:visited, a.cancel:hover, a.cancel:link, a.cancel:active {
    color: white; }

a.done {
  background-color: black;
  padding: .7rem 1rem; }
  a.done:visited, a.done:hover, a.done:link, a.done:active {
    color: white; }

section#faces {
  overflow: hidden;
  padding: 0 3rem;
  margin: auto; }
  section#faces > div {
    float: left;
    width: 25%;
    text-align: center;
    height: 20rem; }
    @media screen and (min-width: 800px) {
      section#faces > div {
        width: 20%; } }
    section#faces > div a {
      display: block;
      border-radius: 50%;
      width: 144px;
      height: 144px;
      overflow: hidden;
      margin: auto; }
      section#faces > div a img {
        width: 100%; }
    section#faces > div p {
      font-size: 1.2rem;
      margin-top: 0.8rem; }

section#login {
  text-align: center; }
  section#login .loginImgFrame {
    display: inline-block;
    overflow: hidden;
    width: 216px;
    height: 216px; }
    section#login .loginImgFrame img {
      display: block;
      width: 100%; }
  section#login p {
    font-size: 2.8rem; }
  section#login a {
    font-size: 1.8rem; }

section#faces p {
  text-align: center; }
  section#faces p:nth-child(2) {
    font-size: 1.8rem; }
  section#faces p:nth-child(3) {
    font-size: 1.2rem;
    color: #595959; }

section#login, section#chooseStore {
  text-align: center; }
  section#login ul#storeCodes a, section#chooseStore ul#storeCodes a {
    display: block;
    padding: 1rem;
    font-size: 1.2rem; }

section#login p {
  font-size: 2.8rem; }

section#login a {
  font-size: 1.8rem; }

input[type=password], button {
  width: 22rem;
  _height: 6rem; }

button {
  text-transform: uppercase; }

input[type=password] {
  border: 1px solid #595959;
  padding: 1rem;
  font-size: 1.8rem;
  margin: 1.5rem; }

